<div class="search-div">
   <button mat-icon-button color="accent" (click)="addLeave()">
    <mat-icon  class ="pdf" >add_box</mat-icon>
  </button>
  <!-- <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput  placeholder="Search" autocomplete="off"  [(ngModel)]="searchText" (input) = "search()" >
</mat-form-field> -->

<input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
<button type="submit"><i class="fa fa-search"></i></button>
  

<button mat-icon-button color="accent" (click)="downloadPDF()">
    <mat-icon  class ="pdf" >picture_as_pdf</mat-icon>
  </button>

  <button mat-icon-button color="accent" (click)="openPDF()">
    <mat-icon  class ="pdf" >pageview</mat-icon>
  </button>
</div>
<mat-card-content>
  <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
    <table class="table">
      <thead>
      <th>Leave Id</th>
      <th>Employee Id</th>
      <th>Month</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>No Of Days</th>
      <th>Leave Period</th>
      <th>Edit/Delete</th>
      </thead>
      <tr *ngFor="let leave of leaveFullList ">
        <td>{{leave.LeaveId}}</td>
        <td>{{leave.EmployeeId}}</td>
        <td>{{leave.Month}}</td>
        <td>{{leave.FromDate}}</td>
        <td>{{leave.ToDate}}</td>
        <td>{{leave.NoOfDays}}</td>
        <td>{{leave.LeavePeriod}}</td>
        <td>
          <button mat-icon-button color="accent" (click)="editLeave(leave.LeaveId)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteLeave(leave.LeaveId)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</mat-card-content>
