<div class="search-div">
   <button mat-icon-button color="accent" (click)="addProject()">
      <mat-icon  class ="pdf" >add_box</mat-icon>
    </button>
    <!-- <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput  placeholder="Search" autocomplete="off"  [(ngModel)]="searchText" (input) = "search()" >
  </mat-form-field> -->


  <input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
  <button type="submit"><i class="fa fa-search"></i></button>
    

  <button mat-icon-button color="accent" (click)="downloadPDF()">
      <mat-icon  class ="pdf" >picture_as_pdf</mat-icon>
    </button>

    <button mat-icon-button color="accent" (click)="openPDF()">
      <mat-icon  class ="pdf" >pageview</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
      <table class="table">
        <thead>
        <th>Project Handle Id</th>
        <th>Project Name</th>
        <th>Date Started</th>
        <th>Date Ended</th>
        <th>Status</th>
        <th>Edit/Delete</th>
        </thead>
        <tr *ngFor="let project of projectFullList ">
          <td>{{project.ProjectHandleId}}</td>
          <td>{{project.ProjectName}}</td>
          <td>{{project.DateStarted}}</td>
          <td>{{project.DateEnded}}</td>
          <td>{{project.Status}}</td>
          <td>
            <button mat-icon-button color="accent" (click)="editProject(project.ProjectHandleId)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteProject(project.ProjectHandleId)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
