  <!-- <div class="page-wrap">
    <div class="conntainer">
      <mat-card class="border">
        <h6 class="display-3 text-center">HRM</h6> 
      <img src="../assets/image/logo1.PNG"  />
     <form>
          <div class="form-group">
          <label >Username</label>
          <input type="text" id="ip2" class="form-control" placeholder="Username" [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" id="ip2" class="form-control"  placeholder="Password" [(ngModel)]="password" type="password" name="password" required/>
        </div> 
          <button type="submit" class="btn btn-outline-info btn-block"  (click)="login();valueChanged()" >Submit</button>
           <button mat-raised-button color="accent" type="submit" (click)="login($event)">Login</button>
      
      </form>
    </mat-card>
    </div>
  </div> -->
 
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../assets/image/logo1.PNG"  />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="login($event)">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" >Forgot Password?</a>
      </div>
  
    </div>
  </div>
  