<div class="container">
    <h3 mat-dialog-title>Add New User</h3>
  
    <form class="mat-dialog-content"  [formGroup]="empForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" formControlName="EmployeeId" placeholder="Employee Id"  required >
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee First Name" formControlName="EmployeeFirstName">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Last Name" formControlName="EmployeeLastName">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Full Name" formControlName="EmployeeFullName">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Father Name" formControlName="EmployeeFatherName">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Date Of Birth" formControlName="EmployeeDateOfBirth">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Sex" formControlName="EmployeeSex">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Religion" formControlName="EmployeeReligion">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Marital Status" formControlName="EmployeeMaritalStatus">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Nationality" formControlName="EmployeeNationality">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee House" formControlName="EmployeeHouse">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Street" formControlName="EmployeeStreet">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee City" formControlName="EmployeeCity">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee State" formControlName="EmployeeState">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee PIN" formControlName="EmployeePIN">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Phone Number" formControlName="EmployeePhoneNumber">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Mobile Number" formControlName="EmployeeMobileNumber">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Image" formControlName="EmployeeImage">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Email" formControlName="EmployeeEmail">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Date Of Join" formControlName="EmployeeDateOfJoin">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Date Of Confirm" formControlName="EmployeeDateOfConfirm">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Department" formControlName="EmployeeDepartment">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Designation" formControlName="EmployeeDesignation">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Basic Salary" formControlName="EmployeeBasicSalary">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Employee Salary Per Day" formControlName="EmployeeSalaryPerDay">
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-button  [disabled]="!empForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button tabindex="-1" [mat-dialog-close]="1">Cancel</button>
      </div>
    </form>
  </div>
