<div class="search-div">
  <button mat-icon-button color="accent" (click)="addLoan()">
    <mat-icon  class ="pdf" >add_box</mat-icon>
  </button>
 
    <!-- <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput  placeholder="Search" autocomplete="off"  [(ngModel)]="searchText" (input) = "search()" >
  </mat-form-field>
   -->
   <input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
   <button type="submit"><i class="fa fa-search"></i></button>
     
   
   <button mat-icon-button color="accent" (click)="downloadPDF()">
       <mat-icon  class ="pdf" >picture_as_pdf</mat-icon>
     </button>
   
     <button mat-icon-button color="accent" (click)="openPDF()">
       <mat-icon  class ="pdf" >pageview</mat-icon>
     </button>
</div>
<mat-card-content>
  <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
    <table class="table">
      <thead>
      <th>Loan Id</th>
      <th>Type Of Loan</th>
      <th>Date Of Application</th>
      <th>Proposed Amount</th>
      <th>No Of Inst Recovery</th>
      <th>Start Date Of Recovery</th>
      <th>End Date Of Recovery</th>
      <th>No Of Days</th>
      <th>Interest Rate</th>
      <th>Interest Amount</th>
      <th>Edit/Delete</th>

      </thead>
      <tr *ngFor="let loan of loanFullList">
        <td>{{loan.LoanId}}</td>
        <td>{{loan.TypeOfLoan}}</td>
        <td>{{loan.DateOfApplication}}</td>
        <td>{{loan.ProposedAmount}}</td>
        <td>{{loan.NoOfInstRecovery}}</td>
        <td>{{loan.StartDateOfRecovery}}</td>
        <td>{{loan.EndDateOfRecovery}}</td>
        <td>{{loan.NoOfDays}}</td>
        <td>{{loan.InterestRate}}</td>
        <td>{{loan.InterestAmount}}</td>
        <td>
          <button mat-icon-button color="accent" (click)="editLoan(loan.LoanId)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteLoan(loan.LoanId)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</mat-card-content>

