<div class="container">
    <h3 mat-dialog-title>Add New Payroll</h3>
  
    <form class="mat-dialog-content"  [formGroup]="payForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" formControlName="PayrollId" placeholder="Payroll Id"  required >
        </mat-form-field>
      </div>
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
            <input matInput #input class="form-control" formControlName="EmployeeId" placeholder="Employee Id"  required >
        </mat-form-field>
      </div>
  
      <!--Contains mat-hint for characters count and has maxLengt set-->
      <!-- <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="State"   maxlength="10" required >
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </div> -->
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="Month" placeholder="Month" >
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Year" formControlName="Year">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Total Present" formControlName="TotalPresent" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Total Absent" formControlName="TotalAbsent" >
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Leave Days" formControlName="LeaveDays">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Deduction" formControlName="Deduction" >
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Leave" formControlName="Leave">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Festival Advance" formControlName="FestivalAdvance">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Housing Loan" formControlName="HousingLoan">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Vehicle Loan" formControlName="VehicleLoan">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Other Loan" formControlName="OtherLoan">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Loss Of Pay" formControlName="LossOfPay">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="TDS" formControlName="TDS">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Professional Fees" formControlName="ProfessionalFees">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Other Deductions" formControlName="OtherDeductions" >
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Total Earnings" formControlName="TotalEarnings">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Other Pay" formControlName="OtherPay" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Basic Salary" formControlName="BasicSalary">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Salary Per Day" formControlName="SalaryPerDay" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Pay" formControlName="Pay" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Earnings" formControlName="Earnings">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Deductions" formControlName="Deductions" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Net Pay" formControlName="NetPay" >
        </mat-form-field>
      </div>


      <div mat-dialog-actions>
        <button mat-button  [disabled]="!payForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button  tabindex="-1" [mat-dialog-close]="1">Cancel</button>
      </div>
    </form>
  </div>
