<div class="container">
    <h3 mat-dialog-title>Add New Leave</h3>
  
    <form class="mat-dialog-content" [formGroup]="salForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="number" formControlName="SalaryId" class="form-control" placeholder="Salary Id" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="SalaryAmount" placeholder="Salary Amount">
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="Tax" placeholder="Tax">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="Status" placeholder="Status">
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-button  (click)="confirmAdd()"  [disabled]="!salForm.valid" [mat-dialog-close]="1">Save</button>
        <button mat-button tabindex="-1" [mat-dialog-close]="1">Cancel</button>
      </div>
    </form>
  </div>
