<mat-toolbar  class="navbar" width="105%">
    <div class="logout">
        <mat-icon *ngIf="this.authService.isLoggedIn()"  routerLink="/dashboard" routerLinkActive="active">nfc</mat-icon>
        
       
    </div>

    <div> 
        HRM
        <span *ngIf="!this.authService.isLoggedIn()" routerLink="/login">
            
            <!-- <small>Login</small> -->
         
        <mat-icon >account_box</mat-icon>
    </span>
    </div>
   
    <div class="logout">
        
        <span *ngIf="this.authService.isLoggedIn()">
            <mat-icon>notifications</mat-icon>
        </span>
      
        <span *ngIf="this.authService.isLoggedIn()" (click) = "openLogout()">
            <!-- <small>Logout</small> -->
            <mat-icon> account_circle</mat-icon>
        </span>    
    </div>
 </mat-toolbar>

 <!-- <div class="page-wrap" >
    <div class="conntainer">
      <mat-card class="border">
      <img src="../assets/image/logo1.PNG"  />
     <form>
        <div> 
            HRM
            <span *ngIf="!this.authService.isLoggedIn()" routerLink="/login">             
            <mat-icon >account_box</mat-icon>
        </span>
        </div>
    </form>
    </mat-card>
    </div>
   </div> -->


 <div class="footer" #footer *ngIf="this.authService.isLoggedIn()">
    Your sticky footer with a variable height.
  </div>
 


 <!-- <img *ngIf="!this.authService.isLoggedIn()"  src="/assets/image/blur-background.jpg" width="105%"> -->
