.navbar {
justify-content: space-between;
height: 45px;
width: 83rem;
background: #56baed;
position: relative;
}
.span {
    justify-content: space-between;
    padding-right: 3 rem ;
    float: right;
    cursor: pointer;
    margin: right;
    float: none;
}

.logout {
cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 105%;
    height: 35px;
    background-color: #56baed;
    color: white;
    text-align: center;
    margin: 0px;
 }
 .border{
    border-radius: 25px;
    padding: 20px; 
  }
  .page-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
  }
/* .hero {
    background-image: url('/assets/image/background.jpg') !important;
    background-size: cover;
    background-position: center center;
  } */