<div class="container">
    <h3 mat-dialog-title>Add New Leave</h3>
  
    <form class="mat-dialog-content" [formGroup]="proForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="number" formControlName="ProjectHandleId" class="form-control" placeholder="Project Handle Id" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="ProjectName" placeholder="Project Name">
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="DateStarted" placeholder="Date Started">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="DateEnded" placeholder="Date Ended">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="Status" placeholder="Status">
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-button  (click)="confirmAdd()"  [disabled]="!proForm.valid" [mat-dialog-close]="1">Save</button>
        <button mat-button tabindex="-1" [mat-dialog-close]="1">Cancel</button>
      </div>
    </form>
  </div>

