<div class="search-div">
  <div></div>
  <button mat-icon-button color="accent" (click)="addTraining()">
    <mat-icon  class ="pdf" >add_box</mat-icon>
  </button>
      <!-- <mat-form-field >
        <mat-icon matPrefix>search</mat-icon>
        <input matInput  placeholder="Search" autocomplete="off"  [(ngModel)]="searchText" (input) = "search()" >
    </mat-form-field> -->

   
  <input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
  <button type="submit"><i class="fa fa-search"></i></button>
    
  
  <button mat-icon-button color="accent" (click)="downloadPDF()">
      <mat-icon  class ="pdf" >picture_as_pdf</mat-icon>
    </button>
  
    <button mat-icon-button color="accent" (click)="openPDF()">
      <mat-icon  class ="pdf" >pageview</mat-icon>
    </button>
  </div>
  

  <mat-card-content>
    <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
      <table class="table">
        <thead>
          <th>Training Id</th>
          <th>Training Provider</th>
          <th>Trainee</th>
          <th>Training Location</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Edit/Delete</th>
         
        </thead>
        <tr *ngFor="let training of trainingFullList ">
          <td>{{training.TrainingId}}</td>
          <td>{{training.TrainingProvider}}</td>
          <td>{{training.Trainee}}</td>
          <td>{{training.TrainingLocation}}</td>
          <td>{{training.StartDate}}</td>
          <td>{{training.EndDate}}</td>
          <td>{{training.Status}}</td>
          <td>
              <button mat-icon-button color="accent"(click)="editTraining(training.TrainingId)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="deleteTraining(training.TrainingId)"><mat-icon>delete_forever</mat-icon></button>
          </td>
       </tr>
       </table>
      </div>
  </mat-card-content>
