  <mat-card style="margin-bottom: 10px; width: 450px;">
    Add Department
    <mat-card-content>
      <form [formGroup]="deptForm">
        <div class="col-md-12">
          <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" formControlName="DepartmentId" placeholder="Department Id"  required >
            </mat-form-field>
          </div>
          <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" formControlName="DepartmentName" placeholder="Department Name"  required >
            </mat-form-field>
          </div>
        </div>
       
        <button mat-raised-button class="btn btn-primary"[disabled]="!deptForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()">
            Save
          </button>
        <button mat-raised-button class="btn btn-warning" tabindex="-1" [mat-dialog-close]="1">
            Cancel
          </button>
      </form>
    </mat-card-content>
  </mat-card>