<div class="container">
  <h3 mat-dialog-title>Add New Leave</h3>

  <form class="mat-dialog-content" [formGroup]="leaveForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput type="number" formControlName="LeaveId" class="form-control" placeholder="Leave Id" required>
      </mat-form-field>
    </div>
    <input matInput type="number" formControlName="EmployeeId"  hidden>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="Month" placeholder="Month">
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="FromDate" placeholder="From Date">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="ToDate" placeholder="To Date">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="NoOfDays" placeholder="No Of Days">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="LeavePeriod" placeholder="Leave Period">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button  (click)="submitForm()"  [disabled]="!leaveForm.valid" [mat-dialog-close]="1">Save</button>
      <button mat-button tabindex="-1" [mat-dialog-close]="1">Cancel</button>
    </div>
  </form>
</div>




<!--
<div class="container">
    <h3 mat-dialog-title>Add New User</h3>

    <form class="mat-dialog-content"  #formControl="ngForm">

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Leave Id"  required >
        </mat-form-field>
      </div>

      &lt;!&ndash;Textarea for demo purposes&ndash;&gt;
      &lt;!&ndash; <div class="form">
        <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Employee Id"  required >
        </mat-form-field>
      </div> &ndash;&gt;

      &lt;!&ndash;Contains mat-hint for characters count and has maxLengt set&ndash;&gt;
      &lt;!&ndash; <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="State"   maxlength="10" required >
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </div> &ndash;&gt;

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Month" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="From Date" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="To Date" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="No Of Days" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Leave Period" >
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>

-->
