<div class="search-div">
      <button mat-icon-button color="accent" (click)="addUser()">
        <mat-icon  class ="pdf" >add_box</mat-icon>
      </button>
      <input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
      <button type="submit"><i class="fa fa-search"></i></button>
  <!-- <mat-icon  class ="pdf" value="CPTURE" (click)="captureScreen()">picture_as_pdf</mat-icon> -->
   
  </div>

 
  <!-- <mat-card-content>
    <div class="mat-elevation-z8" id="content" #content>
      <table class="table" id="contentToConvert">
        <thead>
          <th>User Id</th>
          <th>User Name</th>
          <th>Password</th>
          <th>User Gender</th>
          <th>Role</th>
          <th>Token</th>
          <th>Attendance</th>
          <th>Edit/Delete</th>
         
        </thead>
        <tr *ngFor="let user of userList ">
          <td>{{user.UserId}}</td>
          <td>{{user.UserName}}</td>
          <td>{{user.Password}}</td>
          <td>{{user.UserGender}}</td>
          <td>{{user.Role}}</td>
          <td>{{user.Token}}</td>
          <td>{{user.Attendance}}</td>
          <td>
              <button mat-icon-button color="accent"(click)="editUser(user.Id)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="deleteUser(user.Id)"><mat-icon>delete_outline</mat-icon></button>
          </td>
       </tr>
       </table>
      </div>
  </mat-card-content> -->
  <button mat-stroked-button color="warn"  (click)="sendData()">Show Location</button>
  <div class="col-sm-6 col-md-4 col-xl-3">
    <div class="card bg-light">
        <div class="card-body">
          
            <h6 class="card-title text-uppercase text-truncate py-2">User Info

            </h6>
            
            <div class="items border border-light" *ngFor="let user of getUserList ">
                <div class="card draggable shadow-sm">
                    <div class="card-body p-2" >      
                      <input type="checkbox" [(ngModel)]="user.isSelected" value="{{user.UserId}}" (change)="isAllSelected()" > Select
                        <p>
                          {{user.UserName}} ||
                          {{user.Attendance}} ||
                          {{user.IpAddress}}
                        </p>                        
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>        
          
          <!-- <pdf-viewer
          [src] = "pdfSrc"
          [render-text] = "true"
          style="display:block;"
          > 
          <pdf-viewer>  -->

<div class="maps">
  <app-user-location ></app-user-location>
</div>


<!-- <div>
  
Example:{{exampleParent}} 
<app-hrm-login 
(valueChange) = "parentMethod($event)">
</app-hrm-login>

</div> -->