<div class="search-div">
    <button mat-icon-button color="accent" (click)="addAttendance()">
      <mat-icon  class ="pdf" >add_box</mat-icon>
    </button>
    <!-- <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput  placeholder="Search" autocomplete="off"  [(ngModel)]="searchText" (input) = "search()" >
  </mat-form-field> -->


  <input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
  <button type="submit"><i class="fa fa-search"></i></button>
    

  <button mat-icon-button color="accent" (click)="downloadPDF()">
      <mat-icon  class ="pdf" >picture_as_pdf</mat-icon>
    </button>

    <button mat-icon-button color="accent" (click)="openPDF()">
      <mat-icon  class ="pdf" >pageview</mat-icon>
    </button>

  </div>
  <mat-card-content>
    <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
      <table class="table">
        <thead>
        <th>Employee Id</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Remarks</th>
        <th>Edit/Delete</th>
        </thead>
        <tr *ngFor="let attend of attendFullList ">
          <td>{{attend.EmployeeId}}</td>
          <td>{{attend.TimeIn}}</td>
          <td>{{attend.TimeOut}}</td>
          <td>{{attend.Remarks}}</td>
          <td>
            <button mat-icon-button color="accent" (click)="editAttendance(attend.EmployeeId)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteAttendance(attend.EmployeeId)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>