<div class="search-div">
    <button mat-icon-button color="accent" (click)="addDepartment()">
        <mat-icon  class ="pdf" >add_box</mat-icon>
      </button>
    <!-- <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput  placeholder="Search" autocomplete="off"  [(ngModel)]="searchText" (input) = "search()" >
    </mat-form-field> -->

    <input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
    <button type="submit"><i class="fa fa-search"></i></button>
      

    <button mat-icon-button color="accent" (click)="downloadPDF()">
        <mat-icon  class ="pdf" >picture_as_pdf</mat-icon>
      </button>

      <button mat-icon-button color="accent" (click)="openPDF()">
        <mat-icon  class ="pdf" >pageview</mat-icon>
      </button>
    <!-- <form class="navbar-form">
    <div class="input-group no-border">
      <input type="text" value="" class="form-control" placeholder="Search...">
      <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
      </button>
  </div>
 </form> -->
  </div>
  <mat-card-content>
    <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
      <table class="table">
        <thead>
          <th>Department Id</th>
          <th>Department Name</th>
          <th>Edit/Delete</th>
         
        </thead>
        <tr *ngFor="let dept of departmentFullList ">
          <td>{{dept.DepartmentId}}</td>
          <td>{{dept.DepartmentName}}</td>
          <td>
              <button mat-icon-button color="accent"(click)="editDepartment(dept.DepartmentId)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="deleteDepartment(dept.Id)"><mat-icon>delete_forever</mat-icon></button>
          </td>
       </tr>
       </table>
      </div>
  </mat-card-content>
