<div class="search-div">
      <button mat-icon-button color="accent" (click)="addPayroll()">
        <mat-icon  class ="pdf" >add_box</mat-icon>
      </button>
    <!-- <mat-form-field >
      <mat-icon matPrefix>search</mat-icon>
      <input matInput  placeholder="Search" autocomplete="off"  [(ngModel)]="searchText" (input) = "search()" >
  </mat-form-field> -->

  <input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
  <button type="submit"><i class="fa fa-search"></i></button>
    
  
  <button mat-icon-button color="accent" (click)="downloadPDF()">
      <mat-icon  class ="pdf" >picture_as_pdf</mat-icon>
    </button>
  
    <button mat-icon-button color="accent" (click)="openPDF()">
      <mat-icon  class ="pdf" >pageview</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
      <table class="table">
        <thead>
          <th>PayrollId</th>
          <th>EmployeeId</th>
          <th>Month</th>
          <th>Year</th>
          <th>TotalPresent</th>
          <th>TotalAbsent</th>
          <th>LeaveDays</th>

          <th>Deduction</th>
          <th>Leave</th>
          <th>FestivalAdvance</th>
          <th>HousingLoan</th>
          <th>VehicleLoan</th>
          <!-- <th>OtherLoan</th>
          <th>LossOfPay</th>
          <th>TDS</th>
          <th>ProfessionalFees</th>
          <th>OtherDeductions</th>
          <th>TotalEarnings</th>
          <th>OtherPay</th>
          <th>BasicSalary</th>
          <th>SalaryPerDay</th>
          <th>Pay</th>
          <th>Earnings</th>
          <th>Deductions</th>
          <th>NetPay</th> -->
          <th>Edit/Delete</th>
         
        </thead>
        <tr *ngFor="let payroll of payrollFullList ">
          <td>{{payroll.PayrollId}}</td>
          <td>{{payroll.EmployeeId}}</td>
          <td>{{payroll.Month}}</td>
          <td>{{payroll.Year}}</td>
          <td>{{payroll.TotalPresent}}</td>
          <td>{{payroll.TotalAbsent}}</td>
          <td>{{payroll.LeaveDays}}</td>

          <td>{{payroll.Deduction}}</td>
          <td>{{payroll.Leave}}</td>
          <td>{{payroll.FestivalAdvance}}</td>
          <td>{{payroll.HousingLoan}}</td>
          <td>{{payroll.VehicleLoan}}</td>
          <!-- <td>{{payroll.OtherLoan}}</td>
          <td>{{payroll.LossOfPay}}</td>

          <td>{{payroll.TDS}}</td>
          <td>{{payroll.ProfessionalFees}}</td>
          <td>{{payroll.OtherDeductions}}</td>
          <td>{{payroll.TotalEarnings}}</td>
          <td>{{payroll.OtherPay}}</td>
          <td>{{payroll.BasicSalary}}</td>
          <td>{{payroll.SalaryPerDay}}</td>

          <td>{{payroll.Pay}}</td>
          <td>{{payroll.Earnings}}</td>
          <td>{{payroll.Deductions}}</td>
          <td>{{payroll.NetPay}}</td> -->
          <td>
              <button mat-icon-button color="accent"(click)="editPayroll(payroll.PayrollId)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="deletePayroll(payroll.Id)"><mat-icon>delete_forever</mat-icon></button>
          </td>
       </tr>
       </table>
      </div>
  </mat-card-content>