<div class="search-div">
    <button mat-icon-button color="accent" (click)="addSalary()">
      <mat-icon  class ="pdf" >add_box</mat-icon>
    </button>
    <!-- <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput  placeholder="Search" autocomplete="off"  [(ngModel)]="searchText" (input) = "search()" >
  </mat-form-field> -->


  <input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
  <button type="submit"><i class="fa fa-search"></i></button>
    

  <button mat-icon-button color="accent" (click)="downloadPDF()">
      <mat-icon  class ="pdf" >picture_as_pdf</mat-icon>
    </button>

    <button mat-icon-button color="accent" (click)="openPDF()">
      <mat-icon  class ="pdf" >pageview</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
      <table class="table">
        <thead>
        <th>Salary Id</th>
        <th>Salary Amount</th>
        <th>Tax</th>
        <th>Status</th>
        <th>Edit/Delete</th>
        </thead>
        <tr *ngFor="let salary of salaryFullList ">
          <td>{{salary.SalaryId}}</td>
          <td>{{salary.SalaryAmount}}</td>
          <td>{{salary.Tax}}</td>
          <td>{{salary.Status}}</td>
          <td>
            <button mat-icon-button color="accent" (click)="editSalary(salary.SalaryId)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteSalary(salary.SalaryId)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
