<div class="container">
    <h3 mat-dialog-title>Add New Loan</h3>
  
    <form class="mat-dialog-content"  [formGroup]="loanForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input type="number" class="form-control" formControlName="LoanId" placeholder="Loan Id"  required >
        </mat-form-field>
      </div>
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
            <input matInput #input class="form-control" formControlName="TypeOfLoan" placeholder="Type Of Loan"  required >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="DateOfApplication" placeholder="Date Of Application" >
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Proposed Amount" formControlName="ProposedAmount">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="No Of Inst Recovery" formControlName="NoOfInstRecovery">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Start Date Of Recovery" formControlName="StartDateOfRecovery">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="End Date Of Recovery" formControlName="EndDateOfRecovery">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="No Of Days" formControlName="NoOfDays">
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Interest Rate" formControlName="InterestRate">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Interest Amount" formControlName="InterestAmount">
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-button  [disabled]="!loanForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button  tabindex="-1" [mat-dialog-close]="1">Cancel</button>
      </div>
    </form>
  </div>
