<!-- <div class="container">
    <h3 mat-dialog-title>Add New Leave</h3>
  
    <form class="mat-dialog-content" [formGroup]="attendForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="number" formControlName="EmployeeId" class="form-control" placeholder="Employee Id" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="TimeIn" placeholder="Time In">
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="TimeOut" placeholder="Time Out">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="Remarks" placeholder="Remarks">
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-button  (click)="confirmAdd()"  [disabled]="!attendForm.valid" [mat-dialog-close]="1">Save</button>
        <button mat-button tabindex="-1" [mat-dialog-close]="1">Cancel</button>
      </div>
    </form>
  </div> -->


  <mat-card style="margin-bottom: 10px; width: 450px;">
    Add New Leave
    <mat-card-content>
      <form  [formGroup]="attendForm">
        <div class="col-md-12">
          <div class="form">
            <mat-form-field color="accent">
              <input matInput type="number" formControlName="EmployeeId" class="form-control" placeholder="Employee Id" required>
            </mat-form-field>
          </div>
          <div class="form">
            <mat-form-field color="accent">
              <input matInput formControlName="TimeIn" placeholder="Time In">
            </mat-form-field>
          </div>
          <div class="form">
            <mat-form-field color="accent">
              <input matInput formControlName="TimeOut" placeholder="Time Out">
            </mat-form-field>
          </div>
      
          <div class="form">
            <mat-form-field color="accent">
              <input matInput formControlName="Remarks" placeholder="Remarks">
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button class="btn btn-primary" (click)="confirmAdd()"  [disabled]="!attendForm.valid" [mat-dialog-close]="1">
            Save
          </button>
        <button mat-raised-button class="btn btn-warning" tabindex="-1" [mat-dialog-close]="1">
            Cancel
          </button>
        
      </form>
    </mat-card-content>
  </mat-card>