<div class="search-div">
      <button mat-icon-button color="accent" (click)="addEmployee()">
        <mat-icon  class ="pdf" >add_box</mat-icon>
      </button>
      <!-- <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput  placeholder="Search" autocomplete="off"  [(ngModel)]="searchText" (input) = "search()" >
    </mat-form-field> -->
   
    <input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
    <button type="submit"><i class="fa fa-search"></i></button>
      

    <button mat-icon-button color="accent" (click)="downloadPDF()">
        <mat-icon  class ="pdf" >picture_as_pdf</mat-icon>
      </button>

      <button mat-icon-button color="accent" (click)="openPDF()">
        <mat-icon  class ="pdf" >pageview</mat-icon>
      </button>
  </div>
  <mat-card-content>
    <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
      <table class="table">
        <thead>
          <!-- <th>Employee Id</th>
          <th>Employee First Name</th>
          <th>Employee Last Name</th> -->
          <th>Employee Full Name</th>
          <!-- <th>Employee Father Name</th> -->
          <th>Employee Date Of Birth</th>
          <th>Employee Sex</th>
          <th>Employee Religion</th>
          <th>Employee Marital Status</th>
          <th>Employee Nationality</th>
          <!-- <th>Employee House</th>
          <th>Employee Street</th>
          <th>Employee City</th>
          <th>Employee State</th>
          <th>Employee PIN</th> -->
          <th>Employee Phone Number</th>
          <th>Employee Mobile Number</th>
          <th>Employee Image</th>
          <th>Employee Email</th>
          <th>Employee Date Of Join</th>
          <th>Employee Date Of Confirm</th>
          <th>Employee Department</th>
          <!-- <th>Employee Designation</th>
          <th>Employee Basic Salary</th>
          <th>Employee Salary PerDay</th> -->
          <th>Edit/Delete</th>
        </thead>
        <tr *ngFor="let employee of employeeFullList ">
          <!-- <td>{{employee.EmployeeId}}</td>
          <td>{{employee.EmployeeFirstName}}</td>
          <td>{{employee.EmployeeLastName}}</td> -->
          <td>{{employee.EmployeeFullName}}</td>
          <!-- <td>{{employee.EmployeeFatherName}}</td> -->
          <td>{{employee.EmployeeDateOfBirth}}</td>
          <td>{{employee.EmployeeSex}}</td>

          <td>{{employee.EmployeeReligion}}</td>
          <td>{{employee.EmployeeMaritalStatus}}</td>
          <td>{{employee.EmployeeNationality}}</td>
          <!-- <td>{{employee.EmployeeHouse}}</td>
          <td>{{employee.EmployeeStreet}}</td>
          <td>{{employee.EmployeeCity}}</td>
          <td>{{employee.EmployeeState}}</td>

          <td>{{employee.EmployeePIN}}</td> -->
          <td>{{employee.EmployeePhoneNumber}}</td>
          <td>{{employee.EmployeeMobileNumber}}</td>
          <td>{{employee.EmployeeImage}}</td>
          <td>{{employee.EmployeeEmail}}</td>
          <td>{{employee.EmployeeDateOfJoin}}</td>
          <td>{{employee.EmployeeDateOfConfirm}}</td>
          <td>{{employee.EmployeeDepartment}}</td>
          <!-- <td>{{employee.EmployeeDesignation}}</td>
          <td>{{employee.EmployeeBasicSalary}}</td>
          <td>{{employee.EmployeeSalaryPerDay}}</td> -->
          
          <td>
              <button mat-icon-button color="accent"(click)="editEmployee(employee.EmployeeId)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="deleteEmployee(employee.EmployeeId)"><mat-icon>delete_forever</mat-icon></button>
          </td>
       </tr>
       </table>
      </div>
  </mat-card-content>