
/* agm-map {
    height: 400px;
    width: 500px;
  }
  
  h2{
    color: #2c3e50;
  }
  
  input{
    padding: 10px 15px;
    font-size: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    margin: 0px 15px;
    border-bottom: gray solid 2px;
  }
  
  
  input:hover, input:focus{
   border-bottom: #e67e22 solid 3px;
  }
  
  
  button{
    padding: 10px;
    cursor: pointer;
    background: #2980b9;
    border: none;
    color: white;
    font-size: 1em;
  }
  
  button:hover{
    background: #e67e22;
  } */


  .container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }
  