
<div class="container">
    <h3 mat-dialog-title>Add New User</h3>
  
    <form class="mat-dialog-content" [formGroup]="userForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" formControlName="UserId" placeholder="User Id"  required >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
            <input matInput #input class="form-control" formControlName="UserName" placeholder="User Name"  required >
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Password" formControlName="Password">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="User Gender" formControlName="UserGender">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Role" formControlName="Role">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Token" formControlName="Token">
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Attendance" formControlName="Attendance">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="IpAddress" formControlName="IpAddress">
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button [disabled]="!userForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button tabindex="-1" [mat-dialog-close]="1">Cancel</button>
      </div>
    </form>
  </div>