
<!-- <mat-dialog-content>
  
    <header id="modal-header">
        <h1 id="modal-title">Are you sure you want to logout?</h1>
    </header>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="logOutSystem()">Logout</button>
    <button class="mat-raised-button mat-primary"(click)="closeModal()">Go back</button>
</mat-dialog-actions> -->

<div >
    <div >
      <form id="formFooter">
        Are You Sure You Want To Logout?<br> <br>
        <div class="fadeIn first">
          <img src="../assets/image/logo1.PNG"  />
        </div>
        <input type="submit" class="fadeIn fourth" value="Log out" (click)="logOutSystem()">
        <input type="submit" class="fadeIn fourth" value="Go back" (click)="closeModal()">
      </form>
  
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->
  
    </div>
  </div>


  