<div class="container">
    <h3 mat-dialog-title>Add New Trainee</h3>
  
    <form class="mat-dialog-content"  [formGroup]="trainForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" type="number" formControlName="TrainingId" placeholder="Training Id"  required >
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
            <input matInput #input class="form-control" formControlName="TrainingProvider" placeholder="Training Provider">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Trainee" formControlName="Trainee" >
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Training Location" formControlName="TrainingLocation" >
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Start Date" formControlName="StartDate" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="End Date" formControlName="EndDate" >
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Status" formControlName="Status" >
        </mat-form-field>
      </div>

     <div mat-dialog-actions>
        <button mat-button [disabled]="!trainForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button  tabindex="-1" [mat-dialog-close]="1">Cancel</button>
      </div>
    </form>
  </div>

